@import helper._

@(form: Form[GameInfo])(implicit request: Request[_], messages: MessagesProvider)

@main("Start a new game") {
    <h1>Start a new game</h1>

    @helper.form(routes.GameController.startGameSubmit()) {
        @CSRF.formField

        @helper.inputText(form("gameParameters.maxRounds"))

        @helper.inputText(form("gameParameters.pointsToWin"))

        @helper.inputText(form("gameParameters.dynamiteCount"))

        @helper.inputText(form("bot1.name"))

        @helper.inputText(form("bot1.url"))

        @helper.inputText(form("bot2.name"))

        @helper.inputText(form("bot2.url"))

        <input type="submit" value="Start Game" />
    }
}